LIVRO.pdf
*.pdf
edlab-git.sty
*pdf
*idx 
*ind 
*ilg 
*aux 
*log 
*tui 
*toc 
*.4ct 
*.4tc 
*.html 
*.css
*.swp 
*.dvi 
*.epub 
*.lg 
*.ent
*.xdv
*.ncx 
*.xref 
*.tmp 
*.idv 
*.opf  
*.fdb_latexmk 
*.fls
.DS_Store

